<div class="container-fluid">   
    <div class="my-5 d-flex justify-content-center">
        <img id='load_it'  class='load_it' style='display:none' src="images/map_screenshot.png"></img>
        <canvas id="myCanvas" width="1100" height="600"></canvas>
    </div> 
    <div class="row">
        <div class="col-2 my-3"></div>

        <div class="col-8 my-3">
            <form method="POST" action="/contractor_update" enctype="multipart/form-data">
            {{#with failure_info}}
                <div hidden>
                    <input type="text" class="form-control" size="30"  id="West" name="West" placeholder=id required>
                </div>
                <h3 class="my-1">Τοποθεσία</h3>
                <div class="row">
                    <legend for="coords"> Συντεταγμένες </legend>
                    <div class="col-6 my-2">
                        <label for="coords"> Δυτικά </label>
                        <input type="text" class="form-control" size="30"  id="West" name="West" placeholder="{{coords_to_show_x}}">
                        <p id = "x" style="display: none ;">{{coordinates_x}}</p>
                    </div>
                    <div class="col-6 my-2">
                        <label for="coords"> Βόρεια </label>
                        <input type="text" class="form-control" size="30"  id="North" name="North" placeholder="{{coords_to_show_y}}">
                        <p id = "y" style="display: none ;">{{coordinates_y}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 my-2">
                        <legend for="building"> Κτίριο </legend>
                        <select class="form-control" id = "building" name="building" required>
                            <option value="{{building}}">{{building}}</option>
                        {{/with}}
                            {{#each buildings}}
                                <option value="{{{name}}}"> {{name}} </option>
                            {{/each}}
                        {{#with failure_info}}
                        </select>
                    </div>
                </div>

                <h3 class="my-2"> Κατηγορία </h3>
                    <div class="row">
                        <div class="col-12 my-2">
                        <select class="form-control" id = "category" name="category" required>
                            <option value="{{category}}">{{category}}</option>
                        {{/with}}
                            {{#each categories }}
                                <option value={{name}}> {{name}} </option>
                            {{/each}}
                        {{#with failure_info}}
                        </select>
                    </div>
                </div>

                <h3 class="my-2"> Στοιχεία επικοινωνίας </h3>
                    <div class="row">
                        <div class="col-6 my-2">
                            <p><strong>Τηλέφωνο:</strong> {{contact_phone}}</p>
                        </div>
                        <div class="col-6 my-2">
                            <p><strong>E-mail:</strong> {{contact_email}}</p>
                        </div>
                    </div>

                <h3 class="my-2"> Λεπτομέρειες αναφοράς </h3>
                    <div class="row my-2">
                        <legend for="title"> Τίτλος </legend>
                        <input class="form-control" type="text" size="30"  id="title" name="title" placeholder="{{title}}" required>
                    </div>
                    <div class="row my-2">
                        <legend for="description"> Περιγραφή </legend>
                        <textarea rows="10" class="form-control" type="text" size="200" id="description" name="description" placeholder="" required>{{description}}</textarea>
                    </div>

                <div class="row my-4">
                    <div class="col-3"></div>
                    <div class="col-6 recent justify-content-center d-flex rounded"> 
                        <img class='rounded img-fluid' src={{image_path}}>
                    </div>
                    <div class="col-3"></div>
                </div>
                {{/with}} 

                <div class="row my-4">
                    <div class="col-11"></div>
                    <div class="col-1 mt-4">
                        <button type="submit" class="btn btn-primary"> Ενημέρωση </button>
                    </div>
                </div>          
            </form>
        </div>
</div>
<script src="scripts/draw_map_failure_page.js"></script>